/* 
 * This software was developed at the National Institute of Standards and
 * Technology by employees of the Federal Government in the course of
 * their official duties. Pursuant to title 17 Section 105 of the United
 * States Code this software is not subject to copyright protection and is
 * in the public domain. This software is an experimental system. NIST assumes
 * no responsibility whatsoever for its use by other parties, and makes no
 * guarantees, expressed or implied, about its quality, reliability, or
 * any other characteristic. We would appreciate acknowledgement if the
 * software is used.
 */

section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em; 
    padding-right: 2em;
    box-sizing: border-box;
}

.demo {
    line-height: normal;
    display: flex; 
    align-items: flex-start; 
    gap: 1em; 
    margin-bottom: 50px; 
}

.openseadragon {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-color: black;
    font-family: arial;
    flex-shrink: 0;  
}

.site-footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    box-sizing: border-box;
}

form div {
    margin: 0.5em;
}